*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: darkgreen;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.contenedor{
    width:800px;
    background: black;
    padding:30px;
    border-radius:10px;
    
}

h1{
    text-align:center;
    margin-bottom:20px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:10px;
}

input,select{
    padding:10px;
    margin-top:5px;
    border:none;
    border-radius:5px;
}

button{
    margin-top:20px;
    padding:12px;
    background: blue;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background: darkblue;
}

#resultado{
    margin-top:20px;
    background: rgb(7, 54, 7);
    padding:15px;
    border-radius:5px;
}